*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body{
  box-sizing: border-box;
}

.container{
  width: min(1150px, 90%);
}

a{
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

p, a, h1, h2, h3{
  font-family: "Roboto", sans-serif;
}

.navResponsiveTarget{
  transform: translateX(0%) !important;
  transition: all .2s ease;
}